.movie-card {
    background-color: #CBCDCB;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 16px;
    border: 1px solid gray;
    margin: 16px 0;
    border-radius: 8px;
}

.movie-card:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.movie-card > h4 {
    font-size: 24px;
    margin: 8px 0;
}

.movie-card > h5 {
    font-size: 16px;
    margin: 8px 0;
}

.movie-card > p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}