body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  background-color: rgba(128, 128, 128, 0.3);
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 10px;
  overflow: hidden;
  width: 300px;
}

.movie-card:hover {
  box-shadow: 10px 15px 15px
    rgba(128, 128, 128, 0.3) , -10px 15px 15px rgba(128, 128, 128, 0.3);
  transform: scale(1.03);
  transition-duration: 0.3s;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.footer {
  background-color: #343a40;
  color: #f8f9fa;
  padding: 5px 0;
  text-align: center;
}

.footer a {
  color: white;
  opacity: 80%;
}

.footer a:hover {
  opacity: 100%;
}
