body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  max-width: 300px;
  overflow: hidden;
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  min-height: 100px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  min-width: 40px;
  padding: 3px 9px;
  text-align: center;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 5px 20px;
}
