* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: red;
  display: flex;
  height: 60px;
  justify-content: center;
}

.page-title {
  color: black;
  font-size: 25px;
  font-weight: 500;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: auto;
  padding: 60px 0;
  width: 70%;
}

.movie-card {
  background-color: white;
  border: 2px inset gray;
  box-shadow: 4px 4px #333;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 6px;
  padding: 8px;
  width: 230px;
}


.movie-card-image {
  height: 175px;
  width: 100%;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 12px;
  padding-left: 10px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
  padding-left: 10px;
}

.movie-card-storyline {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.rating {
  align-self: flex-end;
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}
