body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #072b50;
  display: flex;
  height: 150px;
  justify-content: center;
}

.page-title {
  color: #427fbb;
  font-family: monospace;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.movie-list {
  background-color: rgb(9, 25, 68);
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: rgb(134, 160, 209);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #354350;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: rgb(47, 47, 49);
  font-size: 16px;
  font-weight: 700;
  padding: 1px 10px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.nota:before {
  content: 'Nota do filme: ';
  margin-left: 30%;
}
